#columnOne, #columnTwo, #columnThree, #columnFour, #columnFive, #columnSix, #columnSeven {
    float: left;

}

#nav {
    left: 0%;
    top: 0%;
    width: 33.3333333333%;
    height: 100%;
}

#board{
    left: 33.3333333333%;
    top: 0%;
    width: 66.6666666667;
    height: 100%;
}

#columnOne div{
    width:76px;
    height:76px;
    border-radius:38px;	
    border: 2px solid #43C6DB;
}

#columnTwo div{
    width:76px;
    height:76px;
    border-radius:38px;	
    border: 2px solid #43C6DB;
}

#columnThree div{
    width:76px;
    height:76px;
    border-radius:38px;	
    border: 2px solid #43C6DB;
}

#columnFour div{
    width:76px;
    height:76px;
    border-radius:38px;	
    border: 2px solid #43C6DB;
}

#columnFive div{
    width:76px;
    height:76px;
    border-radius:38px;	
    border: 2px solid #43C6DB;
}

#columnSix div{
    width:76px;
    height:76px;
    border-radius:38px;	
    border: 2px solid #43C6DB;
}

#columnSeven div{
    width:76px;
    height:76px;
    border-radius:38px;	
    border: 2px solid #43C6DB;
}

.board {
    background-color: white;
}



