* {
    box-sizing: border-box;
    box-shadow: none;
    text-align: center;
    font-family: 'VT323', monospace;
}

h1 {
    color: whitesmoke;
    font-size: 80px;
    margin: 0 auto;
}

#player1 {
    float: left;
    color: black;
    font-size: 40px;
}

#player2 {
    float: left;
    color: red;
    font-size: 40px;
}

body {
    background-color: peachpuff;
    color: white;
}

table {
    background-size: contain;
    background-color: peachpuff;
    font-size: 40px;
    margin: 0 auto;
    border-spacing: collapse; 
    border-collapse: separate;
    cursor: pointer;
    border-radius: 24px;   
}

td {
    margin: 5px;
    padding: 10px 10px 0px;
    width: 90px;
    height: 85px;
    border-radius: 50%; 
    padding: 7px;
    box-sizing: border-box;
    box-shadow: inset 7px 7px 20px 0px rgba(50, 50, 50, 0.9);
    
}

td:hover {
    opacity: 0.6;
}




